@*<button type="button" class="btn btn-float animated infinite bounce delay-3" id="btnAddNew"><i class="fa fa-plus"></i></button>*@
<div class="add-panel">
    <button type="button" class="bttn-dark bttn-first-button" id="btnAddNew"><i class="fa fa-plus">&nbsp;</i>Add</button>
</div>